.g29__container {
    .g29 {
        &__text {
            &__heading textarea {
                font-size: 3.6rem;
                line-height: 4rem;
                margin: 0;
            }
            &__cta-button input, 
            &__cta-button input:focus {
                background-color: transparent;
                color: white;
            }
        }
        &__stats {
            &__number input {
                font-size: 4.2rem;
            }
            &__label  {
                margin-bottom: 0;
                .components-base-control__field {
                    margin-bottom: 0;
                }
                input {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }
            &__block {
                margin-left: 1rem;
            }
        }
    } 
}
