.g29 {
    &__container {
        padding: 6.4rem 2rem;
        position: relative;
    }
    &__text {
        &__heading,
        &__heading input {
            margin: 0;
            text-align: left;
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 4rem;
            text-transform: none;
        }
        &__description {
            font-size: 2rem;
            line-height: 2.8rem;
        }
        &__cta-button {

            background-color: #003f5f;
            position: relative;
            width: 100%;
            height: 6.8rem;
            font-weight: bold;
            text-decoration: none;
            font-size: 1.8rem;
            text-align: left;
            padding: 0 3.2rem;
            border: solid 3px #003f5f;

            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 3.2rem;
            }
            &:hover {
                color: white;
                border-color: #0079b6;
                background-color: #003f5f;
            }
        }
    }
    &__stats {

        display: flex;
        margin-top: 5rem;
        margin-bottom: 5rem;

        &__block {
            margin-left: 4rem;
            margin-bottom: 0;
            &:first-child {
                margin-left: 0;
            }
            p {
                margin: 0;
            }
        }
        &__2-blocks {
            .g29__stats__block:last-child {
                display: none;
            }
        }
        &__1-blocks {
            .g29__stats__block:last-child,
            .g29__stats__block:nth-child(2) {
                display: none;
            }
        }
        &__number {
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 100%;
        }
        &__label {
            font-size: 2rem;
            font-weight: 900;
            line-height: 2.8rem;
        }
        &__body,
        &__body textarea {
            font-size: 2rem;
            line-height: 2.8rem;
            margin-top: 1.6px;
            margin-bottom: 0;
        }
    }
    @media (min-width: 768px) {
        &__mobile-only {
            display: none !important;
        }
    }
    @media (max-width: 767px) {
        &__desktop-only {
            display: none !important;
        }
        &__stats {
            &__number {
                font-size: 4rem;
                word-break: break-word;
            }
            &__block {
                margin-left: 1rem;
                flex: 1;
            }
        }
    }
    @include media('>tablet') {
        &__mobile_only {
            display: none;
        }
        &__container {
            padding: 6rem 0rem;
            display: flex;
			align-items: center;
			margin: 0 auto;
			max-width: 130rem;
        }
        &__text {
            width: 40.8rem;
            &__cta-button {
                width: auto;
                min-width: 26rem;
            }
        }
        &__stats {
			margin-left: auto;
			margin-right: 0;
            &__block {
                margin-left: 8rem;
            }
        }
    }
    @include media('<=tablet') {
        &__desktop_only {
            display: none;
        }
    }
}
